.app {
    color: #3b4045;
  overflow-y: scroll;
/*   background: #1f1f1f;  
 */  min-height: 100vh;
}

.app::-webkit-scrollbar {
  width: px;
  height: 8px;
}

.app::-webkit-scrollbar-thumb {
  background-color: #494747;
  border-radius: 5px;
}
